* {
  font-family: monospace;
  background-color: #ffffff;
  font-size: 108%;
}

header {
  background-color: gray;
  display: block;
}

#name {
  text-align: left;
  padding: 1%;
  font-size: 350%;
}

h1 {
  text-align: center;
  margin-bottom: 3%;
  margin-top: 3%;
}
