* {
  font-family: 'Playfair Display', serif;
  font-size: 105%;
  background-color: #000000;
  color: #ffffff;
  margin: 0;
  box-sizing: border-box;
  word-wrap: break-word;
  text-rendering: optimizeSpeed;
  text-align: justify;
}

body {
  width: 100%;
  
}

section {
  border: 1px double white;
  display: inline-block;
  float: left;
  margin-left: 1%;
  margin-top: 5%;
  margin-bottom: 5%;
}

h1 {
  text-align: center;
  margin-top: 5%;
  margin-bottom: 8%;
  font-size: 180%;
}

h4 {
  text-align: center;
  padding: 2%;
  width: 35%;
  border: 1px double white;
  position: relative;
  top: .5%;
  left: 65%;
  background-color: green;
}


p {
  padding-top: 20%;
  padding-bottom: 25%;
  padding-left: 3%;
  padding-right: 3%;
  text-align: center;
}

#chicken > h4 {
  background-color: blue;
}

#beef > h4 {
  background-color: red;
}

@media (min-width: 992px) {
  /* DESKTOP VIEW */

  section {
    width: 32%;
  }

}

@media (min-width: 768px) and (max-wdith: 991px) {
  /* TABLET VIEW */

}

@media (max-width: 767px) {
  /* MOBILE VIEW */

}
